[submodule "app/precomputed-data-table-app/xplan-od-growth-analysis"]
	path = app/precomputed-data-table-app/xplan-od-growth-analysis
	url = https://gitlab.sd2e.org/rpg/xplan-od-growth-analysis.git


[submodule "app/precomputed-data-table-app/fcs_signal_prediction"]
	path = app/precomputed-data-table-app/fcs_signal_prediction
	url = https://gitlab.sd2e.org/dbryce/fcs_signal_prediction
